<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="FilePath" value="C:\inetpub\wwwroot\temp\files\" />
  <add key="FileLog" value="C:\inetpub\wwwroot\Logs\"/>
  <add key="Paging" value="15" />
  <add key="PriceMask" value="0.######"/>


  <add key="ServiceName" value="Pruebas WBC"/>
  <add key="Service"          value="http://pbasworkbycloudds.bepensa.com:83/WbcService/SmartOrderService.svc" />
  <add key="PortalServer"     value="http://pbasworkbycloudds.bepensa.com:83/WbcService/SmartOrderService.svc" />
  <add key="SmartOrderServer" value="http://pbasworkbycloudds.bepensa.com:83/WbcService/SmartOrderService.svc" />
  <add key="Applications" value="C:\inetpub\wwwroot\Applications\" />
  <add key="SecurityRolesPath" value="C:\inetpub\wwwroot\WbcPortal\SecurityRoles.xml"/>
  <add key="SurveyApiServer" value="http://wbcsurvey.sati.solutions" />
  <!--<add key="SurveyEngineApiServer" value="http://pbasworkbycloudds.bepensa.com:83/DsEngine/"/>-->
  <add key="SurveyEngineApiServer" value="http://localhost:60465/"/>
  <add key="IncidentApiServer" value="http://app3.sati.solutions/webserviceincidence.asmx/"/>

  <!--
 

  <add key="ReportServerURL" value="http://adpecodes01/Reportserver" />
  <add key="ReportPath" value="/Reportes SO/WorkByCloud/Bepensa/wbc_pba" />
  <add key="ServiceName" value="Servicio BBebidas" />
  <add key="Service" value="http://workbycloudds.bepensa.com/FE/WbcService/SmartOrderService.svc" />
  <add key="PortalServer" value="http://workbycloudds.bepensa.com/FE/WbcService/SmartOrderService.svc" />
  <add key="SmartOrderServer" value="http://workbycloudds.bepensa.com/FE/WbcService/SmartOrderService.svc" />
  <add key="CreditServer" value="http://pbasworkbycloudds.bepensa.com:83/CreditService/CreditService.svc" />
  <add key="Applications" value="C:\inetpub\wwwroot\wbcdspba_test\Applications\" />
  <add key="AssetControlServer" value="http://10.2.129.27:1235/api/" />
  <add key="SurveyApiServer" value="http://workbycloudds.bepensa.com/FE/Survey_Reparto/" />
  <add key="SurveyEngineApiServer" value="http://workbycloudds.bepensa.com/fe/DsEngineApi/"/>
  <add key="IncidentApiServer" value="http://pbasworkbycloudds.bepensa.com:83/IncidenceApi/WebServiceIncidence.asmx"/>
  <add key="SmartOrderApi" value="http://workbycloudds.bepensa.com/FE/WbcDSApi/"/>
   -->
</appSettings>
