<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
    providerName="System.Data.SqlClient" />
  <!--<add name="ApplicationServices" connectionString="metadata=res://*/DAO.SmartOrderModel.csdl|res://*/DAO.SmartOrderModel.ssdl|res://*/DAO.SmartOrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=adpecodes02;Initial Catalog=workbycloud_so;Persist Security Info=True;User ID=sa;Password=desarrollo;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
       providerName="System.Data.SqlClient" />-->
</connectionStrings>